<h1>Hello, <%= current_user.name %></h1>

<section class="user-profile">
  <h3>User Profile</h3>
  <%= link_to "Edit Profile Data", profile_edit_path(current_user) %>
  <%= render 'profile_data' %>
</section>
