.cart-items form {
  background-color:  #F0F8FF;
}

.checkout form{
  background-color: white;
}

.cart-items input[type=submit] {
  width: 50%;
  padding: 5px;
}

.visitor-checkout {
  background-color: #17BEBB;
  border: 1px solid black;
  padding: 10px;
  width: 50%;
  color: #002244;
  text-align: center;
}
