section.grid-item form {
  background-color:  #17BEBB;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section.grid-item input {
  background-color: #f2f2f2;
  color: #17BEBB;
  margin: 0px;
  order: 1;
}

section.grid-item input:hover {
  background-color: #17BEBB;
  color: #f2f2f2;
  border: 1px solid;
}

.merchant-info, .user-profile, .users, .merchant-stats {
  background-color: #17BEBB;
  border: 1px solid black;
  padding: 10px;
  width: 50%;
  color: #002244;
  text-align: left;
}

.merchant-stats li {
  text-align: left;
  margin-left: 45px;
}

.pending-orders li {
  text-align: left;
  margin-left: 45px;
}
.fulfill form {
  background-color: #17BEBB;
  color: #f2f2f2;
  width: 60%;
}
div.fulfill input {
  background-color: #f2f2f2;
  color: black;
}
