<h1>Users Index</h1>

<center>
<section class="users">
  <ol>
    <% @users.each do |user| %>
    <div class="user" id="user-<%= user.id %>">
      <h3><li>User: <%= link_to user.name, admin_user_path(user) %></li></h3>
      <i>Member since: </i><%= format_date(user.created_at) %><br>
      <i>Role: </i><%= user.role %><br>
    </div><br>
    <% end %>
  </ol>
</section>
</center>
